{% extends "reset_network/base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}base-light{% endblock %}

{% block content %}

<section class="para para--lead theme-lightest" data-section-theme="light">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h1>{{ page.content_heading }}</h1>
      </div>
      <div class="para__body">
        {{ page.content_text|linebreaks }}
      </div>
      {% if page.content_long_text %}
      <div class="para__body-long rte">
        {{ page.content_long_text|richtext }}
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="para para--people theme-light para--overflow-hidden" data-section-theme="light">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      {% for block in page.section_1 %}
        {% if block.block_type == 'sub_heading' %}
          <div class="people-title">
            <h2 id="{{ block.value|slugify }}">{{ block.value }}
              <a href="#{{ block.value|slugify }}">
                <svg class="icon--anchor-link">
                  <use xlink:href="#anchor-link"></use>
                </svg>
             </a>
            </h2>
          </div>
        {% endif %}
        {% if block.block_type == 'sub_text' %}
          <div class="people-text">
            <p>{{ block.value }}</p>
          </div>
        {% endif %}
        {% if block.block_type == 'persons' %}
          {% include "reset_network_person/person.html" with person=block %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% if page.content_bottom_image or page.content_bottom_heading or page.content_bottom_text or page.content_bottom_link and page.content_bottom_link_text %}
<section class="para para--content-right para--aside-lg para--col-sm theme-dark" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__aside">
      <div class="surface surface--1-1">
        <div class="surface__plane">
          {% image page.content_bottom_image fill-590x590-c100 class="surface__image" %}
        </div>
      </div>
    </div>
    <div class="para__content">
      <div class="para__title">
        <h2>{{ page.content_bottom_heading }}</h2>
      </div>
      <div class="para__body rte">
      {{ page.content_bottom_text|linebreaks }}
      </div>
      <div class="para__action">
        {% if page.content_bottom_link and page.content_bottom_link_text %}
          <a href="{% pageurl page.content_bottom_link %}" class="button" data-button="">
            <span class="button__drop"></span>
            <span class="button__label">{{ page.content_bottom_link_text }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
