{% extends "reset_network/base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}
{% if page.region_heading and page.reset_network_work_region.all|length %}
base-dark
{% else %}
base-darkest
{% endif %}
{% endblock %}

{% block content %}

<section class="para para--lead theme-darkest" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h1>{{ page.content_heading }}</h1>
      </div>
      <div class="para__body">
        {{ page.content_text }}
      </div>
      {% if page.content_long_text %}
      <div class="para__body-long rte">
        {{ page.content_long_text|richtext }}
      </div>
      {% endif %}
    </div>
  </div>
</section>

<div class="offset-wrap">
{% for pillar in page.reset_network_work_pillar.all %}
  <section class="para para--pillar para--aside-xs theme-darkest" data-section-theme="dark">
    <div class="para__wrap contain reveal">
      <div class="para__aside">
        <div class="surface surface--1-1">
          <div class="surface__plane">
            {% image pillar.image fill-590x590-c100 class="surface__image" %}
          </div>
        </div>
      </div>
      <article class="para__content">
        <header class="para__title">
          <h3>{{ pillar.heading }}</h3>
        </header>
        <div class="para__body rte">
          {{ pillar.text|richtext }}
        </div>
      </article>
    </div>
  </section>
{% endfor %}
</div>

{% if page.region_heading and page.reset_network_work_region.all|length %}
<section class="para para--title theme-dark" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h2>{{ page.region_heading }}</h2>
      </div>
    </div>
  </div>
</section>

{% for region in page.reset_network_work_region.all %}

<section class="para para--region theme-dark" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h3>{{ region.heading }}</h3>
      </div>
      <div class="para__body rte">
        {{ region.text|richtext }}
      </div>
    </div>
  </div>
</section>

{% endfor %}

{% endif %}

{% if page.content_bottom_image or page.content_bottom_heading or page.content_bottom_text or page.content_bottom_link and page.content_bottom_link_text %}
<section class="para para--content-right para--aside-lg para--col-sm theme-dark" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__aside">
      <div class="surface surface--1-1">
        <div class="surface__plane">
          {% image page.content_bottom_image fill-590x590-c100 class="surface__image" %}
        </div>
      </div>
    </div>
    <div class="para__content">
      <div class="para__title">
        <h2>{{ page.content_bottom_heading }}</h2>
      </div>
      <div class="para__body rte">
      {{ page.content_bottom_text|linebreaks }}
      </div>
      <div class="para__action">
        {% if page.content_bottom_link and page.content_bottom_link_text %}
          <a href="{% pageurl page.content_bottom_link %}" class="button" data-button="">
            <span class="button__drop"></span>
            <span class="button__label">{{ page.content_bottom_link_text }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}


{% endblock %}
